html, body {
  height: 100vh;
  overflow-x: hidden;
}

body{
  /* Background pattern from transparenttextures.com, which uses Toptal Subtle Patterns*/
  background: url(imgs/shattered-dark.png), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-family: 'Exo', sans-serif; 
  /* font-size: 1vmin; */
}

.textCentered{
  text-align: center;
}

/*Center Block -----------------------------------------------------------------------------------------------------------------*/

.aligner{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper{
  align-self: center;
}

.centgn{
  font-size: 14vmin;
  margin: 0;
  padding: 0;
}

.centgd{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 5vmin;
}

.destylea{
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  color:white;
}

/*media specific options ---------------------------------------------------------------------------------------------------*/
@media(max-width:783px){
  /*Overlay*/
  #overlogo{
      height: 244px;
      width: 300px;
      background: url(imgs/WingScythe%20Icon%20Base_edited.png); 
      background-size: contain;
      display: inline-block;
  }
  
  #navbar{
      position: fixed;
      top: 0;
      right: -330px;
      font-size: 13px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: 0.3s;
      z-index: 2;
  }
  
  .centgn{
      padding-top: 13vh;
      text-align: center;
      font-size: 50px;
  }
}